body{
    height: 98vh;
}
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
}
table, th, td, tr{
    border: 1px solid black;
}
td, th{
    padding: 10px 20px;
}
th{
    background-color: antiquewhite;
}
.submit-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-wrapper button{
    width: 100px;
    height: 35px;
    font-size: medium;
    background-color: green;
    color: white;
    border-radius: 10px;
}